<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>CodePen - Simple Tic-Tac-Toe game using AngularJS v1</title>
  <link rel="stylesheet" href="XO.css">

</head>

<body>
  <!-- partial:index.partial.html -->
  <div ng-app="app" ng-controller="TicTacToeCtrl">

    <table id="scoreboard" align="center">
      <tr>
        <td> Player 1</td>
        <td width="30"> &nbsp; </td>
        <td> Player 2 </td>
      </tr>
      <tr>
        <td class="score" id="player1">
          {{game.scores.X}}
        </td>
        <td> &nbsp; </td>
        <td class="score" id="player2">
          {{game.scores.O}}
        </td>
      </tr>
    </table>


    <table align="center" id="tic-tac-toe">
      <tr ng-repeat="(row_index, row) in game.dummyArray track by $index">
        <td ng-repeat="(column_index, column) in game.dummyArray track by $index"
          ng-click="game.mark(row_index, column_index)" class="{{game.data[row_index+''+column_index]}}">
          {{game.data[row_index+''+column_index]}}
        </td>
      </tr>
    </table>

    <button ng-click="game.init()">Reset</button>

    <select ng-model="game.grid_size" ng-options="option.value as option.label for option in grid_options"
      ng-change="game.init()">
    </select>

  </div>
  <!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js'></script>
  <script src="XO.js"></script>
  <!-- <script src="/ps20692-HoangTrongNghia-ASM/js/angular.min.js"></script> -->

</body>

</html>